<h1>Almost Done! Make Changes Now And Then Place Your Florder!!</h1>
<br></br>
<% @order.items.sort.uniq.each do |item| %>
<% q = item.quantities.where(order_id: @order.id) %>
  <form action="/orders/<%=@order.id%>/<%=item.id%>/remove_from_order" method="POST">
    <ul>
      <li><strong><%=item.name%> ($<%=item.price%>)</strong> <input type="number" name="item_attributes[amount]" min="0" value="<%=q[0].amount%>" autocomplete="off"> <input type="submit" value="update"></li>
      <p>Quantity: <%=q[0].amount%></p>
    </ul>
  </form>
<% end %>
