<h1><%= @user.username.capitalize %>, Here Is Your Florder!</h1>

<% if @order.order_placed == true %>
  <p><strong><%=@order.order_time%></strong></p>
  <h2>Items:</h2>
  <% @order.items.sort.uniq.each do |item| %>
    <p><strong><%=item.name%> ($<%=item.price%>)</strong> <a href="/items/<%=@order.id%>/<%=item.id%>">click to view item details</a></p>
    <p>Quantity: <%= @counts[item.name] %></p>
    <br>
  <% end %>
  <p><strong>TOTAL: $<%=@order.total%></strong></p>
  <p>To Place This Order Again Click <a href="/orders/<%=@order.id%>/place_again">Here</a></p>
  <p>To Go Back To Florders Click <a href="/user">Here</a></p>
  <form method="post" action="/orders/<%=@order.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Florder">
  </form>
<% elsif @order.order_placed == false %>
  <p><strong><%=@order.order_time%></strong></p>
  <h2>Items:</h2>
  <% @order.items.sort.uniq.each do |item| %>
  <form action="/orders/<%=@order.id%>/<%=item.id%>/remove_from_order" method="POST">
    <ul>
      <li><strong><%=item.name%> ($<%=item.price%>)</strong> <input type="submit" value="remove"></li>
      <p>Quantity: <%=@counts[item.name]%></p>
    </ul>
  </form>
  <% end %>
  <p><strong>TOTAL: $<%=@order.total%></strong></p>
  <a href="/placed_order/<%=@order.id%>">Place Florder</a> <strong>|</strong>
  <a href="/orders/<%=@order.id%>/continue_shopping">Continue Shopping</a> <strong>|</strong>
  <a href="/orders/<%=@order.id%>/change_item_quantities">Edit Item Amounts</a><br>
  <br>
  <form method="post" action="/orders/<%=@order.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Cancel Florder">
  </form>
<% end %>
